{
  "swagger": "2.0",
  "info": {
    "title": "SOS",
    "description": "Connector to retrieve & update information in SOS Inventory",
    "version": "1.0"
  },
  "host": "api.sosinventory.com",
  "basePath": "/api/v2",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/item": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "List items",
        "description": "List Items",
        "operationId": "Items",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "required": false,
            "type": "string",
            "default": "api.sosinventory.com"
          }
        ]
      }
    },
    "/lot": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Lots",
        "description": "List Lots",
        "operationId": "Lot",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "required": false,
            "type": "string"
          }
        ]
      }
    },
    "/location": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Locations",
        "description": "List Locations",
        "operationId": "Location",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "type": "string"
          },
          {
            "name": "Host",
            "in": "header",
            "required": false,
            "type": "string"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://api.sosinventory.com/oauth2/authorize",
      "tokenUrl": "https://api.sosinventory.com/oauth2/token",
      "scopes": {}
    }
  },
  "security": [
    {
      "oauth2_auth": []
    }
  ],
  "tags": []
}