{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "SOS Inventory",
    "description": "Retrieves and updates information in SOS Inventory",
    "contact": {
      "name": "Harold Anderson",
      "url": "https://thaiwala.com",
      "email": "harold@thaiwala.com"
    }
  },
  "host": "api.sosinventory.com",
  "basePath": "/api/v2",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/item": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer",
                  "description": "The number of results returned in this query."
                },
                "totalCount": {
                  "type": "integer",
                  "description": "Total number of objects"
                },
                "data": {
                  "type": "array",
                  "description": "Array of items",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "description": "Item ID",
                        "type": "integer",
                        "format": "int32",
                        "example": "28"
                      },
                      "starred": {
                        "type": "integer",
                        "format": "int32",
                        "example": "0"
                      },
                      "syncToken": {
                        "type": "integer",
                        "format": "int32",
                        "example": "21"
                      },
                      "name": {
                        "type": "string",
                        "example": "10868070000415"
                      },
                      "fullname": {
                        "type": "string",
                        "example": "10868070000415"
                      },
                      "description": {
                        "type": "string",
                        "example": "Case of 6 Unsweetened Concentrate"
                      },
                      "sku": {
                        "type": "string"
                      },
                      "barcode": {
                        "type": "string"
                      },
                      "type": {
                        "type": "string",
                        "example": "Assembly"
                      },
                      "url": {
                        "type": "string",
                        "example": ""
                      },
                      "tags": {
                        "type": "string",
                        "example": "track"
                      },
                      "notes": {
                        "type": "string"
                      },
                      "purchaseDescription": {
                        "type": "string"
                      },
                      "vendorPartNumber": {
                        "type": "string"
                      },
                      "customerPartNumber": {
                        "type": "string"
                      },
                      "vendor": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Vendor ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "Vendor Name"
                          }
                        }
                      },
                      "bin": {
                        "type": "string"
                      },
                      "warranty": {
                        "type": "string"
                      },
                      "category": {
                        "type": "string"
                      },
                      "class": {
                        "type": "string"
                      },
                      "incomeAccount": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "example": "13"
                          },
                          "name": {
                            "type": "string",
                            "example": "Sales"
                          }
                        }
                      },
                      "cogsAccount": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "example": "27"
                          },
                          "name": {
                            "type": "string",
                            "example": "Cost of Goods Sold"
                          }
                        }
                      },
                      "assetAccount": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "example": "26"
                          },
                          "name": {
                            "type": "string",
                            "example": "Inventory Asset"
                          }
                        }
                      },
                      "expenseAccount": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "format": "int32",
                            "example": "27"
                          },
                          "name": {
                            "type": "string",
                            "example": "Cost of Goods Sold"
                          }
                        }
                      },
                      "onhand": {
                        "type": "number",
                        "example": "0"
                      },
                      "available": {
                        "type": "number",
                        "example": "0"
                      },
                      "onSO": {
                        "type": "number",
                        "example": "0"
                      },
                      "onSR": {
                        "type": "number",
                        "example": "0"
                      },
                      "rented": {
                        "type": "number",
                        "example": "0"
                      },
                      "onWO": {
                        "type": "number",
                        "example": "0"
                      },
                      "onPO": {
                        "type": "number",
                        "example": "0"
                      },
                      "onRMA": {
                        "type": "number",
                        "example": "0"
                      },
                      "reorderPoint": {
                        "type": "number"
                      },
                      "maxStock": {
                        "type": "number"
                      },
                      "leadTime": {
                        "type": "number"
                      },
                      "salesPrice": {
                        "type": "number",
                        "example": "23"
                      },
                      "baseSalesPrice": {
                        "type": "number",
                        "example": "23"
                      },
                      "markupPercent": {
                        "type": "number",
                        "example": "0"
                      },
                      "useMarkup": {
                        "type": "boolean"
                      },
                      "minimumPrice": {
                        "type": "number"
                      },
                      "basePurchaseCost": {
                        "type": "number",
                        "example": "11.66"
                      },
                      "purchaseCost": {
                        "type": "number",
                        "example": "8.0130144145"
                      },
                      "costBasis": {
                        "type": "number",
                        "example": "-92.27477"
                      },
                      "weight": {
                        "type": "number",
                        "example": "0"
                      },
                      "volume": {
                        "type": "number",
                        "example": "0"
                      },
                      "weightUnit": {
                        "type": "string",
                        "example": "lb"
                      },
                      "volumeUnit": {
                        "type": "string",
                        "example": "cbm"
                      },
                      "sublevel": {
                        "type": "integer",
                        "example": "0"
                      },
                      "taxable": {
                        "type": "boolean"
                      },
                      "salesTaxCode": {
                        "type": "string"
                      },
                      "purchaseTaxCode": {
                        "type": "string"
                      },
                      "willSync": {
                        "type": "boolean"
                      },
                      "updateShopify": {
                        "type": "boolean"
                      },
                      "updateBigCommerce": {
                        "type": "boolean"
                      },
                      "alwaysShippable": {
                        "type": "boolean"
                      },
                      "hasImage": {
                        "type": "boolean"
                      },
                      "serialTracking": {
                        "type": "boolean"
                      },
                      "lotTracking": {
                        "type": "boolean"
                      },
                      "archived": {
                        "type": "boolean"
                      },
                      "showOnSalesForms": {
                        "type": "boolean"
                      },
                      "showOnPurchasingForms": {
                        "type": "boolean"
                      },
                      "showOnManufacturingForms": {
                        "type": "boolean"
                      },
                      "customFields": {
                        "type": "string"
                      },
                      "uoms": {
                        "type": "array",
                        "items": {}
                      },
                      "priceTiers": {
                        "type": "array",
                        "items": {}
                      },
                      "summaryOnly": {
                        "type": "boolean"
                      },
                      "imageAsBase64String": {
                        "type": "string"
                      },
                      "imageChanged": {
                        "type": "boolean"
                      },
                      "commissionRate": {
                        "type": "number",
                        "example": "0"
                      },
                      "commissionAmount": {
                        "type": "number",
                        "example": "0"
                      },
                      "commissionExempt": {
                        "type": "boolean"
                      },
                      "syncMessage": {
                        "type": "string",
                        "example": ""
                      },
                      "lastSync": {
                        "type": "string",
                        "example": "2021-12-31T00:06:03.000Z"
                      },
                      "keys": {
                        "type": "string"
                      },
                      "values": {
                        "type": "string"
                      },
                      "__IMTLENGTH__": {
                        "type": "integer",
                        "format": "int32",
                        "example": "21"
                      },
                      "__IMTINDEX__": {
                        "type": "integer",
                        "format": "int32",
                        "example": "1"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "List Items",
        "description": "List Items",
        "operationId": "Item",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "query",
            "name": "location",
            "type": "string",
            "x-ms-summary": "Location",
            "description": "Inventory at given location",
            "required": false
          },
          {
            "in": "query",
            "name": "tags",
            "type": "string",
            "x-ms-summary": "Tags",
            "description": "Returns records that match the provided comma separated list of tags.",
            "required": false
          },
          {
            "in": "query",
            "name": "type",
            "type": "string",
            "x-ms-summary": "Type",
            "description": "Returns records that match the provided item type.",
            "enum": [
              "Inventory Item",
              "Assembly"
            ],
            "required": false
          },
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "Limit number of items returned. Default 10",
            "type": "integer",
            "default": 10
          }
        ]
      }
    },
    "/lot": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer",
                  "description": "# Lots Returned"
                },
                "totalCount": {
                  "type": "integer",
                  "description": "# Matching Lots"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "integer",
                        "description": "Lot ID"
                      },
                      "starred": {
                        "type": "integer",
                        "description": "Starred"
                      },
                      "syncToken": {
                        "description": "syncToken",
                        "type": "integer"
                      },
                      "number": {
                        "type": "string",
                        "description": "Lot Number"
                      },
                      "item": {
                        "type": "object",
                        "description": "Associated Item",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "Associated Item ID"
                          },
                          "name": {
                            "type": "string",
                            "description": "Associated Item Name"
                          }
                        }
                      },
                      "description": {
                        "type": "string",
                        "description": "Lot Description"
                      },
                      "expiration": {
                        "type": "string",
                        "format": "date",
                        "description": "Expiration Date"
                      },
                      "recalled": {
                        "type": "boolean",
                        "description": "recalled"
                      },
                      "expired": {
                        "type": "boolean",
                        "description": "expired"
                      },
                      "customFields": {
                        "type": "array",
                        "description": "Custom Fields",
                        "items": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "description": "ID"
                            },
                            "name": {
                              "type": "string",
                              "description": "Name"
                            },
                            "value": {
                              "type": "string",
                              "description": "Value"
                            },
                            "dataType": {
                              "type": "string",
                              "description": "Data Type"
                            }
                          }
                        }
                      },
                      "onhand": {
                        "type": "number",
                        "description": "On Hand"
                      },
                      "available": {
                        "type": "number",
                        "description": "Available"
                      },
                      "summaryOnly": {
                        "type": "boolean",
                        "description": "Summary Only"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Lots",
        "description": "List Lots",
        "operationId": "Lot",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "query",
            "name": "location",
            "type": "string",
            "x-ms-summary": "Location",
            "description": "Inventory at given location",
            "required": false
          },
          {
            "in": "query",
            "name": "archived",
            "type": "string",
            "x-ms-summary": "Archived",
            "description": "Archived",
            "enum": [
              "Yes",
              "No"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "status",
            "description": "Expired, Recalled, Neither",
            "type": "string",
            "x-ms-summary": "Status",
            "enum": [
              "expired",
              "recalled",
              "notexpirednotrecalled"
            ],
            "required": false
          },
          {
            "in": "query",
            "name": "limit",
            "x-ms-summary": "Limit",
            "description": "Max records to return, default 10",
            "type": "integer",
            "default": 10
          }
        ]
      }
    },
    "/location": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer",
                  "description": "# Locations Returned"
                },
                "totalCount": {
                  "type": "integer",
                  "description": "# Matching Locations"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "description": "Location ID",
                        "type": "integer"
                      },
                      "syncToken": {
                        "description": "syncToken",
                        "type": "integer"
                      },
                      "name": {
                        "description": "Location Name",
                        "type": "string"
                      },
                      "binTracking": {
                        "description": "Bin Tracking",
                        "type": "boolean"
                      },
                      "bins": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "description": "Bins",
                          "properties": {
                            "id": {
                              "type": "integer",
                              "description": "ID"
                            },
                            "syncToken": {
                              "type": "integer",
                              "description": "syncToken"
                            },
                            "number": {
                              "type": "string",
                              "description": "Bin Number"
                            },
                            "location": {
                              "type": "string",
                              "description": "Location"
                            },
                            "sortOrder": {
                              "type": "integer",
                              "description": "sortOrder"
                            }
                          }
                        }
                      },
                      "address": {
                        "type": "object",
                        "description": "Address",
                        "properties": {
                          "line1": {
                            "type": "string",
                            "description": "line1"
                          },
                          "line2": {
                            "type": "string",
                            "description": "line2"
                          },
                          "line3": {
                            "type": "string",
                            "description": "line3"
                          },
                          "line4": {
                            "type": "string",
                            "description": "line4"
                          },
                          "line5": {
                            "type": "string",
                            "description": "line5"
                          },
                          "city": {
                            "type": "string",
                            "description": "City"
                          },
                          "stateProvince": {
                            "type": "string"
                          },
                          "postalCode": {
                            "type": "string",
                            "description": "Postal Code"
                          },
                          "country": {
                            "type": "string",
                            "description": "Country"
                          },
                          "phone": {
                            "type": "string",
                            "description": "Phone"
                          },
                          "email": {
                            "type": "string",
                            "description": "Email"
                          },
                          "company": {
                            "type": "string",
                            "description": "Company"
                          },
                          "contact": {
                            "type": "string",
                            "description": "Contact"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "summary": "Locations",
        "description": "List Locations",
        "operationId": "Location",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "x-ms-summary": "Limit",
            "description": "Limit number of locations returned. Default 10",
            "type": "integer",
            "default": 10
          }
        ]
      }
    },
    "/salesorder": {
      "get": {
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer",
                  "description": "# Sales Orders Returned"
                },
                "totalCount": {
                  "type": "integer",
                  "description": "# Matching Sales Orders"
                },
                "data": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/salesorder"
                  }
                }
              }
            }
          }
        },
        "summary": "List Sales Orders",
        "description": "List Sales Orders",
        "operationId": "SalesOrder",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "in": "query",
            "name": "start",
            "type": "number",
            "x-ms-summary": "start",
            "description": "A cursor used in pagination",
            "required": false,
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "limit",
            "type": "number",
            "x-ms-summary": "Limit",
            "description": "Returns records that match the provided comma separated list of tags.",
            "required": false,
            "x-ms-visibility": "advanced",
            "default": "200"
          },
          {
            "in": "query",
            "name": "status",
            "type": "string",
            "x-ms-summary": "Type",
            "description": "Filters by whether transaction is open or closed.",
            "enum": [
              "open",
              "closed"
            ],
            "required": false,
            "x-ms-visibility": "advanced"
          },
          {
            "name": "query",
            "in": "query",
            "x-ms-summary": "query",
            "description": "Filter results by matching query.",
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "in": "query",
            "name": "archived",
            "type": "boolean",
            "x-ms-summary": "archived",
            "description": "Filters by archived or not.",
            "required": false,
            "x-ms-visibility": "advanced"
          },
          {
            "name": "from",
            "in": "query",
            "x-ms-summary": "From Date",
            "description": "Starting transaction date.",
            "type": "string",
            "format": "date",
            "x-ms-visibility": "important"
          },
          {
            "name": "to",
            "in": "query",
            "x-ms-summary": "To Date",
            "description": "Ending transaction date.",
            "type": "string",
            "format": "date",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "location",
            "in": "query",
            "x-ms-summary": "Location",
            "description": "Filters according to location.",
            "type": "string",
            "x-ms-visibility": "advanced"
          },
          {
            "name": "id",
            "in": "query",
            "x-ms-summary": "id",
            "description": "Returns specific order.",
            "type": "number",
            "x-ms-visibility": "advanced"
          }
        ]
      }
    }
  },
  "x-ms-connector-metadata": [
    {
      "propertyName": "Website",
      "propertyValue": "https://thaiwala.com"
    },
    {
      "propertyName": "Privacy policy",
      "propertyValue": "https://thaiwala.com"
    },
    {
      "propertyName": "Categories",
      "propertyValue": "Business Management"
    }
  ],
  "definitions": {
    "salesorder": {
      "type": "object",
      "properties": {
        "id": {
          "type": "number",
          "example": "80"
        },
        "starred": {
          "type": "number",
          "example": "0"
        },
        "syncToken": {
          "type": "number",
          "example": "0"
        },
        "number": {
          "type": "string",
          "example": "81"
        },
        "date": {
          "type": "string",
          "format": "date-time",
          "example": "2022-02-11T15:37:00.000Z"
        },
        "customer": {
          "type": "object",
          "properties": {
            "id": {
              "type": "number",
              "example": "92"
            },
            "name": {
              "type": "string",
              "example": "UNFI Rocklin"
            }
          }
        },
        "location": {
          "type": "object",
          "properties": {
            "id": {
              "type": "number",
              "example": "1"
            },
            "name": {
              "type": "string",
              "example": "PRISM"
            }
          }
        },
        "billing": {
          "type": "object",
          "properties": {
            "company": {
              "type": "string",
              "example": "UNFI United Natural Foods"
            },
            "contact": {
              "type": "string",
              "example": "UNFI Rocklin"
            },
            "phone": {
              "type": "string"
            },
            "email": {
              "type": "string"
            },
            "addressName": {
              "type": "string",
              "example": ""
            },
            "addressType": {
              "type": "string",
              "example": ""
            },
            "address": {
              "type": "object",
              "properties": {
                "line1": {
                  "type": "string",
                  "example": "1 Albion Road, Suite 101"
                },
                "line2": {
                  "type": "string"
                },
                "line3": {
                  "type": "string"
                },
                "line4": {
                  "type": "string"
                },
                "line5": {
                  "type": "string"
                },
                "city": {
                  "type": "string",
                  "example": "Lincoln"
                },
                "stateProvince": {
                  "type": "string",
                  "example": "RI"
                },
                "postalCode": {
                  "type": "string",
                  "example": "02865-3749"
                },
                "country": {
                  "type": "string",
                  "example": "USA"
                }
              }
            }
          }
        },
        "shipping": {
          "type": "object",
          "properties": {
            "company": {
              "type": "string",
              "example": "UNFI United Natural Foods"
            },
            "contact": {
              "type": "string",
              "example": "UNFI Rocklin"
            },
            "phone": {
              "type": "string"
            },
            "email": {
              "type": "string"
            },
            "addressName": {
              "type": "string",
              "example": ""
            },
            "addressType": {
              "type": "string",
              "example": ""
            },
            "address": {
              "type": "object",
              "properties": {
                "line1": {
                  "type": "string",
                  "example": "UNFI"
                },
                "line2": {
                  "type": "string",
                  "example": "1101 Sunset Blvd"
                },
                "line3": {
                  "type": "string"
                },
                "line4": {
                  "type": "string"
                },
                "line5": {
                  "type": "string"
                },
                "city": {
                  "type": "string",
                  "example": "Rocklin"
                },
                "stateProvince": {
                  "type": "string",
                  "example": "CA"
                },
                "postalCode": {
                  "type": "string",
                  "example": "95765"
                },
                "country": {
                  "type": "string",
                  "example": "US"
                }
              }
            }
          }
        },
        "terms": {
          "type": "object",
          "properties": {
            "id": {
              "type": "number",
              "example": "6"
            },
            "name": {
              "type": "string",
              "example": "2% 10 Net 30"
            }
          }
        },
        "salesRep": {
          "type": "object",
          "properties": {
            "id": {
              "type": "number",
              "example": "8"
            },
            "name": {
              "type": "string",
              "example": "Ricky Roma"
            }
          }
        },
        "channel": {
          "type": "string"
        },
        "department": {
          "type": "object",
          "properties": {
            "id": {
              "type": "number",
              "example": "1"
            },
            "name": {
              "type": "string",
              "example": "Retail"
            }
          }
        },
        "priority": {
          "type": "string"
        },
        "assignedToUser": {
          "type": "string"
        },
        "orderStage": {
          "type": "string"
        },
        "taxCode": {
          "type": "string"
        },
        "currency": {
          "type": "string"
        },
        "serial": {
          "type": "string"
        },
        "linkedTransaction": {
          "type": "string"
        },
        "linkedInvoices": {
          "type": "array",
          "items": {}
        },
        "linkedShipments": {
          "type": "array",
          "items": {}
        },
        "transactionLocationQuickBooks": {
          "type": "string"
        },
        "exchangeRate": {
          "type": "number",
          "example": "1"
        },
        "customerMessage": {
          "type": "string"
        },
        "statusMessage": {
          "type": "string"
        },
        "comment": {
          "type": "string"
        },
        "customerNotes": {
          "type": "string"
        },
        "customFields": {
          "type": "string"
        },
        "customerPO": {
          "type": "string",
          "example": "416453007"
        },
        "depositPercent": {
          "type": "number",
          "example": "0"
        },
        "depositAmount": {
          "type": "number",
          "example": "0"
        },
        "subTotal": {
          "type": "number",
          "example": "1380"
        },
        "discountPercent": {
          "type": "number",
          "example": "0"
        },
        "discountAmount": {
          "type": "number",
          "example": "0"
        },
        "taxPercent": {
          "type": "number",
          "example": "0"
        },
        "taxAmount": {
          "type": "number",
          "example": "0"
        },
        "shippingAmount": {
          "type": "number",
          "example": "0"
        },
        "total": {
          "type": "number",
          "example": "1380"
        },
        "discountTaxable": {
          "type": "boolean"
        },
        "shippingTaxable": {
          "type": "boolean"
        },
        "dropShip": {
          "type": "boolean"
        },
        "closed": {
          "type": "boolean"
        },
        "archived": {
          "type": "boolean"
        },
        "summaryOnly": {
          "type": "boolean"
        },
        "hasSignature": {
          "type": "boolean"
        },
        "earliestDueDate": {
          "type": "string",
          "format": "date-time",
          "example": "2022-02-11T00:00:00"
        },
        "statusLink": {
          "type": "string",
          "example": "https://.orderfacts.com/Go?o=2ydI%2fS%2bS7n%2bUds9ac%2fYSHg%3d%3d"
        },
        "keys": {
          "type": "string"
        },
        "values": {
          "type": "string"
        },
        "lines": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "id": {
                "type": "number",
                "example": "106"
              },
              "lineNumber": {
                "type": "number",
                "example": "1"
              },
              "item": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "number",
                    "example": "28"
                  },
                  "name": {
                    "type": "string",
                    "example": "10868070000415"
                  }
                }
              },
              "class": {
                "type": "string"
              },
              "job": {
                "type": "string"
              },
              "workcenter": {
                "type": "string"
              },
              "tax": {
                "type": "object",
                "properties": {
                  "taxable": {
                    "type": "boolean"
                  },
                  "taxCode": {
                    "type": "string"
                  }
                }
              },
              "linkedTransaction": {
                "type": "string"
              },
              "description": {
                "type": "string",
                "example": "Case of 6 Unsweetened Concentrate"
              },
              "quantity": {
                "type": "number",
                "example": "60"
              },
              "weight": {
                "type": "number",
                "example": "0"
              },
              "volume": {
                "type": "number",
                "example": "0"
              },
              "weightunit": {
                "type": "string",
                "example": "lb"
              },
              "volumeunit": {
                "type": "string",
                "example": "cbm"
              },
              "unitprice": {
                "type": "number",
                "example": "23"
              },
              "amount": {
                "type": "number",
                "example": "1380"
              },
              "altAmount": {
                "type": "number",
                "example": "0"
              },
              "picked": {
                "type": "number",
                "example": "60"
              },
              "shipped": {
                "type": "number",
                "example": "0"
              },
              "invoiced": {
                "type": "number",
                "example": "0"
              },
              "produced": {
                "type": "number",
                "example": "0"
              },
              "returned": {
                "type": "number",
                "example": "0"
              },
              "cost": {
                "type": "number"
              },
              "margin": {
                "type": "number"
              },
              "listPrice": {
                "type": "number"
              },
              "percentdiscount": {
                "type": "number"
              },
              "duedate": {
                "type": "string",
                "format": "date-time",
                "example": "2022-02-11T00:00:00"
              },
              "uom": {
                "type": "number"
              },
              "bin": {
                "type": "string"
              },
              "lot": {
                "type": "string"
              },
              "serials": {
                "type": "string"
              }
            }
          }
        }
      }
    }
  },
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://api.sosinventory.com/oauth2/authorize",
      "tokenUrl": "https://api.sosinventory.com/oauth2/token",
      "scopes": {}
    }
  },
  "security": [
    {
      "oauth2_auth": []
    }
  ],
  "tags": []
}